//$itemBgClr: linear-gradient(to left bottom, #dc9fc7 0%, #f1c2c9 100%);

.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
}

.background-new-items {
  margin-right: 30px;
  width: 75%;
  height: 300px;
  background: url("/../../../assets/coton.png") top left no-repeat;
  background-size: auto 380px;
  //background-image: $itemBgClr;
  background-color: #f8c7cf;
  //border: 2px solid red;
}

.subscribe-new-items {
  width: 25%;
  height: 300px;
  background-color: #f8c7cf;
}

p {
  color: white;
  text-transform: uppercase;
}

.description-new-items {
  transition: transform .5s;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 10%;
}

.description-new-items:hover, .description-new-items:focus {
  transform: scale(1.2);
}

.to-subscribe {
  font-size: 24px;
}

.subscribe-icon {
  color: white;
  font-size: 86px;
}

p.category {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-weight: bolder;
  letter-spacing: 2px;
  padding-top: 30px;
  padding-bottom: 15px;
}

p.description-product {
  font-family: Roboto, sans-serif;
  font-size: 36px;
  font-weight: bolder;
}

p.sub-category {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  letter-spacing: 4px;
}

.subscribe-group {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: transform .7s;
}

.subscribe-group:hover, .subscribe-group:focus {
  transform: scale(1.1);
}
