<div class="wrapper">
  <div class="background-new-items">
    <div class="description-new-items">
      <p class="category">наши новинки</p>
      <p class="description-product">dreamyshades</p>
      <p class="sub-category">collection</p>
      <img src="../../../assets/foto-nails.png" alt="img">
    </div>
  </div>
  <div class="subscribe-new-items">
    <div class="subscribe-group">
      <span class="material-icons subscribe-icon">
          add
      </span>
      <p class="to-subscribe">подписаться</p>
    </div>
  </div>
</div>

