<div class="wrapper">
  <mat-card>
    <h2>Регистрация</h2>
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="registration-form">

      <div class="form-group">
        <mat-label>Имя<span>*</span></mat-label>
        <input
          type="text"
          id="name"
          formControlName="name"
        >
        <span class="form-help-text"
              *ngIf="form.get('name').invalid && form.get('name').touched"
        >
       Имя не может быть пустым
    </span>
      </div>

      <div class="form-group">
        <mat-label>Email <span>*</span></mat-label>
        <input
          type="text"
          id="email"
          formControlName="email"
        >
        <span
          class="form-help-text"
          *ngIf="form.get('email').invalid && form.get('email').touched"
        >
      <span *ngIf="form.get('email')['errors']['required']">Email не может быть пустым</span>
      <span *ngIf="form.get('email')['errors']['email']">Введите корректный email</span>
      <span *ngIf="form.get('email')['errors']['forbiddenEmails']">Email уже занят</span>
    </span>
      </div>

      <div class="form-group">
        <mat-label>Пароль <span>*</span></mat-label>
        <input
          type="password"
          id="password"
          formControlName="password"
        >
        <span
          class="form-help-text"
          *ngIf="form.get('password').invalid && form.get('password').touched"
        >
      <span *ngIf="form.get('password')['errors']['required']">Пароль не может быть пустым</span>
      <span
        *ngIf="form.get('password')['errors']['minlength'] && form.get('password')['errors']['minlength']['requiredLength']">
        Пароль должен быть больше
        {{ form.get('password')['errors']['minlength']['requiredLength'] }}
        символов. Сейчас {{ form.get('password')['errors']['minlength']['actualLength'] }}
      </span>
    </span>
      </div>

      <div class="last-line">
        <div class="form-group">
          <p class="have">
            Уже есть аккаунт?
          </p>
          <a [routerLink]="'/login'">
            Войти!
          </a>
        </div>
        <div class="form-group">
          <button type="submit"
                  class="to-button"
                  [disabled]="form.invalid"
          >Зарегистрироваться
          </button>
        </div>
      </div>

    </form>
  </mat-card>
</div>

