<app-bread-crumb [breadcrumbs]="breadcrumbs"></app-bread-crumb>
<div class="title">
  <h1>UV лампы</h1>
  <div class="number-group">
    <p class="number product-title">{{uvLamps.length}}</p>
    <div class="line"></div>
  </div>
  <p class="word product-title">продуктов</p>
</div>
<div class="second-part"></div>

<div id="gallery">
  <ul>
    <li *ngFor="let lamp of uvLamps" (click)="onClick($event, lamp)">
      <img src="{{lamp.image}}" alt="img">
      <p class="name-item">{{lamp.name}}</p>
      <p class="description-item">{{lamp.description}}</p>
      <p class="price-item">{{lamp.price}}</p>
    </li>
  </ul>
</div>
