<div class="wrapper">
  <div class="background-bestsellers">
    <img src="../../../assets/two-polish.png" class="polish" alt="img">
    <div class="description-bestsellers">
      <p class="category">лидеры продаж</p>
      <p class="description-product">bestsellers</p>
      <p class="sub-category">Dream Collection</p>
    </div>
  </div>
  <div class="search-bestsellers">
    <div class="search-group">
      <span class="material-icons search-icon">
          add
      </span>
      <p class="to-search">подробнее</p>
    </div>
  </div>
</div>

