h1 {
  font-family: HelveticaNeueCyr, sans-serif;
  font-weight: normal;
  font-size: 40px;
  padding-right: 10px;
}

.title {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin: 30px 30px 15px 30px;
}

.product-title {
  padding-top: 4px;
  color: rgba(0, 0, 0, 0.6);
  text-transform: uppercase;
}

.number {
  padding-right: 7px;
  font-size: 14px;
  margin-bottom: 3px;
}

.word {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
}

.line {
  width: 16px;
  height: 2px;
  background-color: black;
}

.number-group {
  display: flex;
  flex-direction: column;
}

.second-part {
  width: calc(100% - 60px);
  height: 1px;
  background-color: rgba(0, 0, 0, 0.4);
  margin: 0 30px;
}

#gallery {
  display: block;
  margin: 30px auto;
  position: relative;
  height: 100%;
  width: calc(100% - 64px);
}

#gallery ul {
  font-size: 0;
  white-space: nowrap;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#gallery li {
  display: inline-block;
  text-align: center;
  width: 260px;
  height: 330px;
  white-space: normal;
  font-size: 14px;
  margin: 15px;
  padding: 20px;
}

#gallery img {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 200px;
  height: 200px;
}

p.name-item {
  font-family: "PT Sans Caption", sans-serif;
  font-size: 16px;
  display: block;
  height: 38px;
  overflow: hidden;
  text-overflow: ellipsis;
}

p.price-item {
  font-family: "PT Sans Caption", sans-serif;
  font-weight: bolder;
  color: #ec9eab;
}

p.description-item {
  font-size: 14px;
  color: #626262;
  height: 38px;
  overflow: hidden;
  text-overflow: ellipsis;
}

li:hover {
  cursor: pointer;
  border: 2px solid black;
}
