<app-bread-crumb [breadcrumbs]="breadcrumbs"></app-bread-crumb>
<div class="title">
  <h1>Палитра гель лаков</h1>
  <div class="number-group">
    <p class="number product-title">10</p>
    <div class="line"></div>
  </div>
  <p class="word product-title">продуктов</p>
</div>
<div class="second-part"></div>

<div id="gallery">
  <ul>
    <li *ngFor="let item of items" (click)="onClick($event, item)">
      <img src="{{item.image}}">
      <p class="name-item">{{item.name}}</p>
      <p class="description-item">{{item.description}}</p>
      <p class="price-item">{{item.price}}</p>
    </li>
  </ul>
</div>

