<div class="wrapper-caption">
  <div class="sale-caption-line"></div>
  <p class="sale-caption">скидки</p>
  <div class="sale-caption-line"></div>
</div>
<div class="wrapper-carousel">
  <div id="gallery">
    <ul>
      <li *ngFor="let saleItem of saleItems">
        <img src="{{saleItem.image}}">
        <p class="description-saleItem">{{saleItem.name}}</p>
        <p class="price-saleItem">{{saleItem.price}}</p>
      </li>
    </ul>
  </div>
</div>
<div class="wrapper-buttons">
  <button type="button" id="prev" (click)="onChangeItem($event)">&laquo;</button>
  <button type="button" id="next" (click)="onChangeItem($event)">&raquo;</button>
</div>


