<div class="wrapper">
  <mat-toolbar class="logo" routerLink="/">
    <div class="logo-container">
      <p class="logo-name">ArtNail</p>
      <p class="logo-description">PROFESSIONAL</p>
    </div>
  </mat-toolbar>

  <mat-toolbar class="main-menu" role="heading">
  <span class="fill-remaining-space">
      <button mat-button [matMenuTriggerFor]="menu" #menuTrigger1="matMenuTrigger" (mouseover)="menuTrigger1.openMenu()">
        <p [ngClass]="{'hover-button': menuTrigger1.menuOpen}">Гель лаки</p>
    </button>

    <mat-menu #menu="matMenu" [overlapTrigger]="false" class="my-menu">
    <span (mouseleave)="menuTrigger1.closeMenu()">
      <button mat-menu-item>
        <mat-icon>home</mat-icon>
        <span routerLink="/polishPalette">Палитра гель-лаков</span>
      </button>
      <button mat-menu-item>
        <mat-icon>videocam</mat-icon>
        <span routerLink="/degreaser">Обезжиреватели</span>
      </button>
      <button mat-menu-item>
        <mat-icon>videocam</mat-icon>
        <span routerLink="/primer">Праймеры</span>
      </button>
       <button mat-menu-item>
        <mat-icon>people_outline</mat-icon>
        <span routerLink="/basePolish">Базы</span>
      </button>
      <button mat-menu-item>
        <mat-icon>exit_to_app</mat-icon>
        <span routerLink="/topPolish">Топы</span>
      </button>
       <button mat-menu-item>
        <mat-icon>exit_to_app</mat-icon>
        <span routerLink="/polishRemover">Жидкость для снятия гель-лака/акрила</span>
      </button>
       <button mat-menu-item>
        <mat-icon>exit_to_app</mat-icon>
        <span routerLink="/polish">Все продукты</span>
      </button>
    </span>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="menu2" #menuTrigger2="matMenuTrigger" (mouseover)="menuTrigger2.openMenu()">
      <p [ngClass]="{'hover-button': menuTrigger2.menuOpen}">УФ лампы</p>
    </button>
    <mat-menu #menu2="matMenu" [overlapTrigger]="false" class="my-menu">
    <span (mouseleave)="menuTrigger2.closeMenu()">
      <button mat-menu-item>
        <mat-icon>home</mat-icon>
        <span>UV лампы</span>
      </button>
      <button mat-menu-item>
        <mat-icon>people_outline</mat-icon>
        <span>Led лампы</span>
      </button>
      <button mat-menu-item>
        <mat-icon>videocam</mat-icon>
        <span>UF/LED лампы</span>
      </button>
      <button mat-menu-item>
        <mat-icon>exit_to_app</mat-icon>
        <span>Гибридные лампы</span>
      </button>
       <button mat-menu-item>
        <mat-icon>exit_to_app</mat-icon>
        <span>Все продукты</span>
      </button>
    </span>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="menu3" #menuTrigger3="matMenuTrigger" (mouseover)="menuTrigger3.openMenu()">
      <p [ngClass]="{'hover-button': menuTrigger3.menuOpen}">Инструменты для маникюра</p>
    </button>
    <mat-menu #menu3="matMenu" [overlapTrigger]="false" class="my-menu">
    <span (mouseleave)="menuTrigger3.closeMenu()">
      <button mat-menu-item>
        <mat-icon>home</mat-icon>
        <span>Пилочки</span>
      </button>
      <button mat-menu-item>
        <mat-icon>people_outline</mat-icon>
        <span>Ножницы</span>
      </button>
      <button mat-menu-item>
        <mat-icon>videocam</mat-icon>
        <span>Накожницы</span>
      </button>
      <button mat-menu-item>
        <mat-icon>exit_to_app</mat-icon>
        <span>Пушеры</span>
      </button>
      <button mat-menu-item>
        <mat-icon>exit_to_app</mat-icon>
        <span>Твизеры</span>
      </button>
      <button mat-menu-item>
        <mat-icon>exit_to_app</mat-icon>
        <span>Шпатели</span>
      </button>
       <button mat-menu-item>
        <mat-icon>exit_to_app</mat-icon>
        <span>Все продукты</span>
      </button>
    </span>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="menu5" #menuTrigger5="matMenuTrigger" (mouseover)="menuTrigger5.openMenu()">
      <p [ngClass]="{'hover-button': menuTrigger5.menuOpen}">Контакты</p>
    </button>
    <mat-menu #menu5="matMenu" [overlapTrigger]="false" class="my-menu">
    <span (mouseleave)="menuTrigger5.closeMenu()">
      <button mat-menu-item>
        <mat-icon>videocam</mat-icon>
        <span>Телефон</span>
      </button>
      <button mat-menu-item>
        <mat-icon>videocam</mat-icon>
        <span>Адрес</span>
      </button>
       <button mat-menu-item>
        <mat-icon>people_outline</mat-icon>
        <span>Почта</span>
      </button>
    </span>
    </mat-menu>
  </span>

    <span class="client-data">
    <button mat-button>
      <mat-icon>search</mat-icon>
    </button>
    <button mat-button>
      <mat-icon>person_outline</mat-icon>
    </button>
    <button mat-button>
      <mat-icon>work_outline</mat-icon>
    </button>
  </span>
  </mat-toolbar>
</div>
<router-outlet></router-outlet>
