<mat-toolbar>
  <span class="fill-remaining-space">
    <button mat-button [matMenuTriggerFor]="menu" #menuTrigger="matMenuTrigger" (mouseover)="menuTrigger.openMenu()" >
<!--      <mat-icon>menu</mat-icon>-->
      <p [ngClass]="{'hover-button': menuTrigger.menuOpen}">Лаки для ногтей</p>
    </button>
    <mat-menu #menu="matMenu" [overlapTrigger]="false" class="my-menu">
    <span (mouseleave)="menuTrigger.closeMenu()">
      <button mat-menu-item>
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </button>
      <button mat-menu-item>
        <mat-icon>people_outline</mat-icon>
        <span>Connecting</span>
      </button>
      <button mat-menu-item>
        <mat-icon>videocam</mat-icon>
        <span>Let's talk</span>
      </button>
      <button mat-menu-item>
        <mat-icon>exit_to_app</mat-icon>
        <span>Logout</span>
      </button>
    </span>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="menu1" #menuTrigger1="matMenuTrigger" (mouseover)="menuTrigger1.openMenu()">
<!--      <mat-icon>menu</mat-icon>-->
      <p [ngClass]="{'hover-button': menuTrigger1.menuOpen}">Лаки для ногтей</p>
    </button>
    <mat-menu #menu1="matMenu" [overlapTrigger]="false" class="my-menu">
    <span (mouseleave)="menuTrigger1.closeMenu()">
      <button mat-menu-item>
<!--        <mat-icon>home</mat-icon>-->
        <span>Homeeee</span>
      </button>
      <button mat-menu-item>
        <mat-icon>people_outline</mat-icon>
        <span>Connecting</span>
      </button>
      <button mat-menu-item>
        <mat-icon>videocam</mat-icon>
        <span>Let's talk</span>
      </button>
      <button mat-menu-item>
        <mat-icon>exit_to_app</mat-icon>
        <span>Logout</span>
      </button>
    </span>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="menu2" #menuTrigger2="matMenuTrigger" (mouseover)="menuTrigger2.openMenu()">
<!--      <mat-icon>menu</mat-icon>-->
      <p [ngClass]="{'hover-button': menuTrigger2.menuOpen}">Лаки для ногтей</p>
    </button>
    <mat-menu #menu2="matMenu" [overlapTrigger]="false" class="my-menu">
    <span (mouseleave)="menuTrigger2.closeMenu()">
      <button mat-menu-item>
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </button>
      <button mat-menu-item>
        <mat-icon>people_outline</mat-icon>
        <span>Connecddddddddting</span>
      </button>
      <button mat-menu-item>
        <mat-icon>videocam</mat-icon>
        <span>Let's talk</span>
      </button>
      <button mat-menu-item>
        <mat-icon>exit_to_app</mat-icon>
        <span>Logout</span>
      </button>
    </span>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="menu3" #menuTrigger3="matMenuTrigger" (mouseover)="menuTrigger3.openMenu()">
<!--      <mat-icon>menu</mat-icon>-->
      <p [ngClass]="{'hover-button': menuTrigger3.menuOpen}">Лаки для ногтей</p>
    </button>
    <mat-menu #menu3="matMenu" [overlapTrigger]="false" class="my-menu">
    <span (mouseleave)="menuTrigger3.closeMenu()">
      <button mat-menu-item>
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </button>
      <button mat-menu-item>
        <mat-icon>people_outline</mat-icon>
        <span>Connecting</span>
      </button>
      <button mat-menu-item>
        <mat-icon>videocam</mat-icon>
        <span>Let's talk</span>
      </button>
      <button mat-menu-item>
        <mat-icon>exit_to_app</mat-icon>
        <span>Logout</span>
      </button>
    </span>
    </mat-menu>

  </span>
  <!--  <span class="fill-remaining-space">Application Title</span>-->
</mat-toolbar>
