<div class="wrapper">
  <div class="caption-group">
    <div class="line-left"></div>
    <h5>Контакты</h5>
    <div class="line-right"></div>
  </div>
  <div class="contact-group">
    <div class="concat-item">
      <mat-icon>room</mat-icon>
      <p>Орша 211030 Беларусь</p>
    </div>
    <div class="concat-item">
      <mat-icon>stay_primary_portrait</mat-icon>
      <div class="tel-group">
        <p>Tel.: (040) 538 919 10</p>
        <p>Fax: (040) 538 919 43</p>
      </div>
    </div>

    <div class="concat-item">
      <mat-icon>email</mat-icon>
      <p>info@artnails.com</p>
    </div>
  </div>
</div>
