app-header {
  position: relative;
  width: 100vw;
}

app-main {
  position: relative;
}

app-new-items {
  position: relative;
}

app-bestsellers{
  position: relative;
}

app-sale-items {
  position: relative;
}
